.modal-insumos {
    border: 1px solid black;
}

.modal-insumos-header {
    border: 1px solid black;
    background-color: #14345a;
    color: #ffffff;
}

.modal-insumos-content {
    background-color: #14345a;
}

.modal-insumos-table-header {
    background-color: #f1c40f;
}

.modal-insumos-footer {
    background-color: #f8f9fa;
}