@font-face{
	font-family: "RobotoCondensedLight";
	src: url("../fonts/robotocondensed-light.ttf"), 
	url("../fonts/robotocondensed-light.eot"), 
	url("../fonts/robotocondensed-light.woff"), 
	url("../fonts/robotocondensed-light.woff2"), 
	url("../fonts/robotocondensed-light.svg");
}
@font-face{
	font-family: "RobotoRegular";
	src: url("../fonts/roboto-regular.ttf"), 
	url("../fonts/roboto-regular.eot"), 
	url("../fonts/roboto-regular.woff"), 
	url("../fonts/roboto-regular.woff2"), 
	url("../fonts/roboto-regular.svg");
}
@font-face{
	font-family: "OswaldLight";
	src: url("../fonts/oswald-light.ttf"), 
	url("../fonts/oswald-light.eot"), 
	url("../fonts/oswald-light.woff"), 
	url("../fonts/oswald-light.woff2"), 
	url("../fonts/oswald-light.svg");
}
:root{
	--color-text: #3F51B5;
	--primary-color: #2B2B2C;
	--acent-color: #DB763B;
}
html, body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: "RobotoRegular";
	position: relative;
	background-color: #fff;
}

.text-condensedLight{ font-family: "RobotoCondensedLight"; }
.text-center{ text-align: center; }
.tittles{ font-family: "OswaldLight"; }
.mdl-textfield{ width: 100%; }

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #14345a;
    border-bottom-color: transparent;
    border-radius: 50%;
    animation: rotation 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.full-width{
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}
.list-unstyle{
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
}
.img-responsive{
	width: 100%;
	height: auto;
}


.inpImg{
	border: 1px solid #d3d8dd;
	border-radius: 4px;
	padding-left:0px;
}

.table-responsive{
	overflow: auto;
}
.divider-menu-h{
	height: 0;
	border-top: 1px solid rgba(255, 255, 255, .09);
	width: 85%;
	margin: 0 auto;
}
.cover{
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
}
.mdl-list__item-avatar{
	line-height: 40px;
	text-align: center;
	font-size: 30px;
}
.table-responsive{
	width: 100%;
	overflow-x: scroll;
	position: relative;
}

.panel{ height: auto; }

.panel-tittle{
	height: 45px;
	display: block;
	line-height: 45px;
	color: #fff;
	font-size: 20px;
}
.panel-content{
	display: block;
	padding: 10px;
}

.header-well,
.header-well-icon,
.header-well-text{
	min-height: 150px;
	height: auto;
}

.header-well{
	position: relative;
}

.header-well-icon,
.header-well-text{
	position: absolute;
	top: 0;
	color: #333;
}

.header-well-icon{
	left: 0;
	width: 25%;
}

.header-well-icon i,
.header-well-text p{
	position: absolute;
	top: 50%;
	display: block;
	width: 100%;
	transform: translateY(-50%);
}

.header-well-icon i{
	text-align: center;
	font-size: 60px;
}
.header-well-text{
	right: 0;
	width: 75%;
}
.header-well-text p{
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.container-notifications{
	position: fixed;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	opacity: 0;
	z-index: 997;
}
.container-notifications-bg{
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0,0,0,.5);
}
.container-notifications-show{
	pointer-events: auto;
	opacity: 1;
}
.NotificationArea{
	box-sizing: border-box;
	background-color: #fff;
	height: 100%;
	width: 300px;
	top: 0;
	z-index: 999;
	right: -300px;
	transition: all .3s ease-in-out;
	position: absolute;
	border: 1px solid black;
}
.NotificationArea-title{
	font-size: 21px;
	height: 45px;
	line-height: 45px;
	color: black;
	background-color: #f1c40f;
	box-sizing: border-box;
	border-bottom: 1px solid black;
}
.NotificationArea-title i{
	position: absolute;
	top: 0;
	right: 0;
	height: 45px;
	width: 45px;
	line-height: 45px;
	font-size: 25px;
	cursor: pointer;
}


.Notification,
.Notification-icon,
.Notification-text{
	margin: 0;
	padding: 0;
	height: 80px;
	box-sizing: border-box;
}

.Notification{
	position: relative;
	display: block;
	width: 300px;
	border-top: 1px solid #f3f3f3;
	color: #2b2b2c;
	font-size: 14px;
	transition: all .3s ease-in-out;
}
.Notification:hover{
	background-color: rgba(0,0,0,.07);
}
.Notification small{
	color: #BDBDBD;
}

.Notification-icon,
.Notification-text{
	position: absolute;
	top: 0;
}

.Notification-icon{
	width: 80px;
	left: 0;
	box-sizing: border-box;
}

.Notification-icon i{
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-left: 15px;
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
	color: #fff;
	background-color: #D9534F;
	border-radius: 50%;
}
.Notification-text{
	width: 220px;
	right: 0;
}

.Notification-text p{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.NotificationArea-show{
	right: 0;
}

.bg-primary {
	background-color: #2e6da4 !important;
}
.bg-success {
	background-color: #3f903f !important;
}
.bg-danger {
	background-color: #d9534f !important;
}
.bg-info {
	background-color: #5bc0de !important;
}

.login-wrap{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: black;
	background-image: url(../otros/img/menu/fontLogin.png);
}

.login-wrap::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); 
}

.container-login {
    position: relative; 
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8); 
    border-radius: 50px;
    z-index: 2; 
}

.navBar{
	background-color: #38bdde;
	border: 1px solid black;
	height: 45px;
	color: #fff;
}

.navBar-options{
	line-height: 45px;
	height: 45px;
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	padding: 0;
	transition: all .3s ease-in-out;
}

.navBar-options-change{
	width: 100%;
}

.navBar-options .btn-menu,
.navBar-options-list{
	line-height: 45px;
	position: absolute;
	top: 0;
	height: 45px;
	margin: 0;
	padding: 0;
}

.navBar-options .btn-menu{
	width: 40px;
	left: 0;
	font-size: 23px;
	cursor: pointer;
	user-select: none;
	text-align: center;
	outline: none;
	margin-left: 9px;
}
.navBar-options-list{
	right: 9px;
}
.navBar-options-list .noLink{
	cursor: inherit !important;
}
.navBar-options-list ul{
	height: 45px;
}
.navBar-options-list ul li{
    height: 45px;
    line-height: 45px;
    cursor: pointer;
    display: inline-block;
    padding: 0 7px;
    font-size: 21px;
    user-select: none; /* Standard property for compatibility */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.zmdi-account-circle{ 
	color: white;
} 

.zmdi-power{
	color: skyblue;
}

.zmdi-power:hover{
	color: red;
}

.navBar-options-list ul li{ outline: none; }
.navBar-options-list ul li figure,
.navBar-options-list ul li figure img{
	margin: 0;
	padding: 0;
	padding-top: 0;
	margin-top: 0;
	box-sizing: border-box;
}

.navBar-options-list ul li figure{
	height: 45px;
}
.navBar-options-list ul li figure img{
	border: 1px solid #E1E1E1;
	border-radius: 50%;
	width: 39px;
	height: 39px;
	margin-bottom: 3px;
}
.navBar-options-list ul li i.zmdi-notifications-active{
	color: #FF4081;
}

.navLateral,
.navLateral-body,
.navLateral-bg{
	position: absolute;
	top: 0;
	height: 100%;
}

.navLateral {
	left: 0;
	width: 200px;
	z-index: 100;
	transition: all .3s ease-in-out;
	background-image: url("../otros/img/menu/NavLateral.png");
	background-size: 100%;
	background-position: center;
	color: #fff;
	overflow: hidden;
}
.navLateral-change{
	pointer-events: none;
	opacity: 0;
	width: 0;
}
.navLateral-body{
	z-index: 82;
	left: 0;
	padding-bottom: 30px;
	background-color: rgba(0, 0, 0, 0.7);
}
.navLateral-body-logo{
	height: 45px;
	line-height: 45px;
	color: #fff;
	width: 100%;
	font-size: 25px;
	background-color: #38bdde; 
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.navLateral-body-logo .zmdi-close{
	width: 0;
	height: 0;
	pointer-events: none;
	opacity: 0;
}

.navLateral-body-cl,
.navLateral-body-cr{
	box-sizing: border-box;
	height: 77px;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
}

.navLateral-body-cl{
	width: 30%;
}
.navLateral-body-cl img{
	width: 57px;
	height: 57px;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}
.navLateral-body-cr{
	width: 70%;
	font-family: "RobotoCondensedLight";
}
.navLateral-body-cr span{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 100%;
}
.navLateral-body-tittle-menu{
	text-align: center;
	padding: 20px 0;
}
.navLateral-body-tittle-menu img{
	max-width: 100px;
	max-height: 100px;
	border: 1px solid white;
	border-radius: 50%;
}

.menu-principal li,
.menu-principal li a{
	display: block;
}

.menu-principal li a{
	height: 45px;
	color: #fff;
	position: relative;
	transition: all .3s ease-in-out;
}
.menu-principal > li > a:hover{
	background-color:#38bdde; 
}

.menu-principal li a div.navLateral-body-cl,
.menu-principal li a div.navLateral-body-cr{
	height: 45px;
	line-height: 45px;
}

.menu-principal li a div.navLateral-body-cl{
	text-align: center;
	font-size: 20px;
}
.btn-subMenu span{
	position: absolute;
	top: 0;
	right: 7px;
	line-height: 45px;
	height: 45px;
	font-size: 19px;
}
.sub-menu-options{
	height: 0;
	overflow-y: hidden;
	overflow-x: hidden;
	background-color: rgba(255, 255, 255, .1);
	transition: all .3s ease-in-out;
}
.sub-menu-options-show{
	height: auto;
	overflow-y: auto;
	overflow-x: hidden;
}
.pageContent{
	padding-left: 200px;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 77;
	background-color: #fff;
	transition: all .3s ease-in-out;
}
.pageContent-change{
	padding-left: 0;
}
.tile{
	background-color:#f1c40f;
	border: 2px solid black;
	height: 140px;
	width: 24%;
	position: relative;
	transition: all .3s ease-in-out;
	overflow: hidden;
	cursor: pointer;
	display: inline-block;
	border-radius: 5%;
}

.tile:hover .tile-text span{color:black; }
.tile:hover .tile-icon{
	color: #14345a;
	transform: scale(1.5) translate(-10px, -10px);
}

.tile-text{
	display: block;
	height: 140px;
	width: 100%;
	box-sizing: border-box;
}

.tile-text span,
.tile-icon{
    position: absolute;
    color: rgba(0,0,0,.3);
    transition: all .3s ease-in-out;
    user-select: none; /* Standard property for compatibility */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tile-text span{
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	display: block;
	font-size: 27px;
	z-index: 2;
}
.tile-icon{
	bottom: 9px;
	right: 4px;
	font-size: 90px;
	line-height: 67px;
	z-index: 1;
}


#tablaventas{	
	border: 1px solid black; 
	color: white; 
	background-color:#14345a; 

}

#tablacategoria,#tablaubicacion,#tablacliente,
#tablausuario,#tablaproducto,#tablaproveedor
{border-bottom:1px solid black;}
#lm{border: 1px solid black;}
#hm{
	border: 1px solid black; 
	color: white; 
	background-color:#14345a; 
}
#home{ border:1px solid black; color: black;}
.tableh{background-color: #14345a; color: white;}
.table{
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#bc{
	background-color: #D21515; 
	color: white;
}
#tt{
	overflow-x: auto; 
	max-width: 100%;
}
.img{
	width: 100px; height: 100px;
}

#mtm{margin-top: 25px; }

#accion{display: none;}
#lh{font-size: 80px;}
#lb{
	color: white;
	margin: 0 auto; 
	display: block;
}


.btn-sm[title]:hover::after {
	content: attr(title);
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	padding: 5px;
	background-color: #14345a;
	color: white;
	border-radius: 3px;
	font-size: 12px;
	white-space: nowrap;
	z-index: 1000;
	border: 1px solid black;
	
}

.swal2-show-error {
	background-color: rgba(0, 0, 0, .9) !important;
	box-shadow: none !important;
}

.mdl-tooltip {
	background-color: #14345a;
	border: 1px solid white; 
}

.btn-sm {
	position: relative;
}

.table-center {
	text-align: center;
}

#tablacategoria,#tablaubicacion,#tablacliente,#tablaapartado,#tablasalidas,#tablaentradas {
	width: 100% !important;
}

.dataTables_wrapper {
	width: 100% !important;
}

.table-center th, .table-center td {
	vertical-align: middle !important;
}


/* Estilo para el scroll horizontal */
.dataTables_wrapper .dataTables_scrollBody::-webkit-scrollbar {
	height: 8px;
}

.dataTables_wrapper .dataTables_scrollBody::-webkit-scrollbar-track {
	background: #f1f1f1;
}

.dataTables_wrapper .dataTables_scrollBody::-webkit-scrollbar-thumb {
	background: black;
	border-radius: 4px;
}

.dataTables_wrapper .dataTables_scrollBody::-webkit-scrollbar-thumb:hover {
	background: #14345a;
}

.btr
{
	background-color: #f1c40f;
	color: black; 
	border: 2px solid;
}

.btr:hover
{
	background-color: #f39c12 ;
	color: black; 
	border: 2px solid;
}

/*=====================================================
					Media  Queries
======================================================*/

@media (min-width: 840px){
	.hide-on-desktop{
		width: 0;
		height: 0;
		pointer-events: none;
		opacity: 0;
	}
	.visible-on-desktop{
		pointer-events: auto;
		opacity: 1;
	}
	.visible-on-tablet,
	.visible-on-phone{
		pointer-events: none;
		opacity: 0;
		width: 0;
		height: 0;
	}
}

@media (max-width: 800px){

	.navLateral{
		width: 100%;
		position: fixed;
		pointer-events: none;
		opacity: 0;
		background-image: none;
	}
	.navLateral-bg{
		left: 0;
		background-color: rgba(0,0,0,.2);
		z-index: 81;
	}
	.navLateral-body{
		width: 300px;
		background-image: url("../otros/img/menu/NavLateral.png");
		background-size: cover;
		background-position: center;
	}
	.navLateral-body::before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.7);
	}
	.navLateral-body-logo .zmdi-close{
		position: absolute;
		top: 0;
		left: 11px;
		padding: 0 9px;
		cursor: pointer;
		height: 45px;
		line-height: 45px;
		pointer-events: auto;
		opacity: 1;
	}
	.navLateral-change{
		pointer-events: auto;
		opacity: 1;
	}
	.pageContent{
		width: 100%;
		padding-left: 0;
	}
}

@media (max-width: 576px) {
	#incluir {
		width: 37.5% !important;
	}
}

@media (max-width: 500px){

	.container-notifications-bg{
		background-color: rgba(0,0,0,.5);
	}
	.NotificationArea{
		width: 200px;
	}
	.navLateral-body{
		width: 190px;
	}
	.navLateral-body::before {
		background-color: rgba(0, 0, 0, 0.8);
	}
	.navLateral-bg{
		left: 0;
		background-color: rgba(0,0,0,.5);
		z-index: 81;
	}
	.tile{
		width: 40%;
		height: 100px;
		border-radius: 10%;
	}
	.tile-text span{
		font-size: 20px;
	}
	.tile-icon{
		bottom: 8px;
		right: 3px;
		font-size: 45px;
		line-height: 75px;
	}
	h1{
		font-size: 40px;
	}
}

@media (max-width: 380px){
	.navBar-options-list .noLink{
		display: none;
	}
}

@media (max-width: 320px){

	.img-responsive{
		width: 30%;
	}
	.tile{
		width: 35%;
		height: 80px;
	}
	.tile-text span{
		font-size: 15px;
	}
	.tile-icon{
		font-size: 35px;
	}
	h1{
		font-size: 35px;
	}
	.navBar-options-list .noLink{
		display: none;
	}
}

@media (max-width: 210px){

	.tile{
		width: 35%;
		height: 80px;
	}
	.tile-text span{
		font-size: 12px;
	}
	.tile-icon{
		display: none;
	}
	h1{
		font-size: 25px;
	}
	.navBar-options-list .noLink{
		font-size: 15px;

	}
	.NotificationArea{
		width: 170px;
	}
	.navLateral-body{
		width: 180px;
	}
}